<!DOCTYPE html>
<html>
<head>
    <!-- Other head elements -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T1Q63PEJJK"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-T1Q63PEJJK');
    </script>
</head>
<body>
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <link rel="icon" href="favicon.ico">
            <h1><a href="index.html"><strong>{{ site.header.title }}</strong> {{ site.header.subtitle }}</a></h1>
            <nav>
                <ul>
                    <li><a href="#footer" class="icon fa-info-circle">About</a></li>
                </ul>
            </nav>
        </header>

        <!-- Main -->
        <div id="main">
            {% for image in site.static_files reversed %}
            {% if image.path contains 'fulls' %}
            <article class="thumb">
                <a href="{{ site.baseurl }}{{ site.image_fulls_loc }}/{{ image.name }}" class="image">
                    <img src="{{ site.baseurl }}{{ site.image_thumbs_loc }}/{{ image.name }}" alt=""
                        data-name="{{ image.name }}"/></a>
                <!--<h2></h2>
                <p></p>-->
            </article>
            {% endif %}
            {% endfor %}
        </div>

        <!-- Footer -->
        <footer id="footer" class="panel">
            <div class="inner split">
                <div>
                    <section>
                        <h2>{{ site.footer.name }}</h2>
                        <p>{{ site.footer.bio }}</p>
                        <p>{{ site.footer.github }}</p>
                    </section>
                    <section>
                        <h2>Sponsor</h2>
                        <div class="ad">
                            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <ins class="adsbygoogle"
                                style="display:block; text-align:center;"
                                data-ad-layout="in-article"
                                data-ad-format="fluid"
                                data-ad-client="ca-pub-1702577941194110"
                                data-ad-slot="9823584598"></ins>
                            <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                        </div>
                    </section>
                    <section>
                        <h2>Follow me on ...</h2>
                        <ul class="icons">
                            {% if site.social_urls.facebook %}
                            <li>
                                <a href="{{ site.social_urls.facebook }}" class="icon fa-facebook">
                                    <span class="label">Facebook</span>
                                </a>
                            </li>
                            {% endif %}
                            <!-- Similar blocks for other social media platforms -->
                        </ul>
                    </section>
                    <p class="copyright">
                        &copy; {{ site.author }}. Design: {{ site.web_design }}
                    </p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
